{% macro get_state(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {% set winds = (storm['intensity'] if storm else 0|int*1.151)|round(2) %}
        {% if winds < 34 %}
            {% set intensity = 'TD' %}
        {% elif winds >= 34 and winds <= 73 %}
            {% set intensity = 'TS' %}
        {% elif winds >= 74 and winds <= 95 %}
            {% set intensity = 'Cat 1' %}
        {% elif winds >= 96 and winds <= 110 %}
            {% set intensity = 'Cat 2' %}
        {% elif winds >= 111 and winds <= 129 %}
            {% set intensity = 'Cat 3' %}
        {% elif winds >= 130 and winds <= 156 %}
            {% set intensity = 'Cat 4' %}
        {% elif winds >= 157 %}
            {% set intensity = 'Cat 5' %}
        {% else %}
            {% set intensity = winds ~ ' MPH' %}
        {% endif %}
        {{ storm['name'] }}, {{intensity }}
    {% else %}
        storm {{ binNumber }} unavailable
    {% endif %}
{% endmacro %}

{% macro get_name(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['name'] }}
    {% else %}Unknown{% endif %}
{% endmacro %}

{% macro get_classification(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['classification'] }}
    {% endif %}
{% endmacro %}

{% macro get_pressure(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ (storm['pressure']|float/33.864)|round(2) }}
    {% endif %}
{% endmacro %}

{% macro get_intensity(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['intensity'] }}
    {% endif %}
{% endmacro %}

{% macro get_max_winds(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ (storm['intensity']|int*1.151)|round(2) }} MPH
    {% endif %}
{% endmacro %}

{% macro get_heading(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['movementDir'] }}
    {% endif %}
{% endmacro %}

{% macro get_heading_text(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {% set windbearing = ((storm['movementDir']|float(default=0)+22.5)/45)|int|round %}
        {% if windbearing > 7 %}{%  set windbearing = 0 %}{% endif %}
        {% set winddir = ['North', 'North East','East','South East','South','South West','West','North West'] %}
        {{ winddir[windbearing]|default('Unknown')}}
    {% endif %}
{% endmacro %}

{% macro get_movement_speed(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['movementSpeed'] }}
    {% endif %}
{% endmacro %}

{% macro get_distance(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ ((distance (storm['latitudeNumeric'], storm['longitudeNumeric'])))|round(2) }} miles
    {% endif %}
{% endmacro %}

{% macro get_latitude(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['latitudeNumeric'] }}
    {% endif %}
{% endmacro %}

{% macro get_longitude(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['longitudeNumeric'] }}
    {% endif %}
{% endmacro %}

{% macro get_region(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['binNumber'][:2] }}
    {% endif %}
{% endmacro %}

{% macro get_forecast_discussion(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['forecastDiscussion'].url }}
    {% endif %}
{% endmacro %}

{% macro get_forecast_graphics(binNumber) %}
    {% set storms = state_attr('sensor.nhc_storm_data','activeStorms') %}
   {% set stormsmatching = storms | selectattr('binNumber', 'eq', binNumber) | list %}
    {% if stormsmatching %}
        {% set storm = stormsmatching | first %}
        {{ storm['forecastGraphics'].url }}
    {% endif %}
{% endmacro %}
